:root {
    --red: #ef476f;
    --green: #a4b750;
    --yellow: #ffd166;
    --blue: #518cd8;
    background-color: #fff0c3;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    /* add font family */
}
body{
    color: var(--green);
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background-color: var(--yellow);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #daac41;
    transition: transform 100ms;
    transform: scale(1.03);
}
.choice-prefix {
    padding: 2rem 2.5rem;
    color: var(--blue);
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: var(--blue);
}

.correct {
    background: var(--red);
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
    
}